/*BASE*/
*,
p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

/*lAYOUT*/
nav.navbar {
  background-color: rgb(0, 0, 0);
  box-shadow: rgba(0, 0, 0, 0.5) 0px 4px 8px 0px, rgba(0, 0, 0, 0.5) 0px 6px 20px 0px;
}
nav.navbar .navbar-brand {
  color: #ffffff;
}
nav.navbar .nav-item {
  padding: 0 1rem;
}
nav.navbar .navbar-toggler-icon {
  filter: invert(1);
}
nav.navbar .navbar-collapse {
  flex-grow: 0;
}
nav.navbar .nav-link {
  color: #ffffff;
  position: relative;
  text-transform: uppercase;
  font-weight: 700;
}
nav.navbar .nav-link.active {
  color: #ffffff;
}
nav.navbar .nav-link:hover {
  color: #6d6d6d;
}
nav.navbar .nav-link::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #6d6d6d;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
nav.navbar .nav-link:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

footer {
  background-image: url(../images/footer.jpg);
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.8901960784);
  background-blend-mode: overlay;
  background-attachment: fixed;
  padding: 1rem;
  color: #6d6d6d;
}

/*PAGES*/
.banner {
  background: url(https://i.pinimg.com/originals/30/06/56/300656e42d74b106e0879e2467afd407.jpg);
  height: 50vh;
  display: flex;
  align-items: center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.3019607843);
  background-blend-mode: darken;
}
.banner-content {
  display: flex;
  flex-direction: column;
  color: #ffffff;
}
.banner-content__title {
  font-weight: 700;
}
.banner-content__btn {
  border-radius: 100px;
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  text-decoration: auto;
  width: min-content;
  font-weight: 600;
}
.banner-content__btn:hover {
  background-color: #6d6d6d;
}

.artist-card {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  min-height: 450px;
  position: relative;
  padding: 1rem;
  color: #ffffff;
  z-index: 1;
  text-decoration: none;
}
.artist-card:after {
  content: "";
  background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgba(87, 199, 133, 0) 100%, rgb(237, 221, 83) 100%);
  z-index: -1;
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
}
.artist-card--bg01, .artist-card--bg02, .artist-card--bg03 {
  background-size: cover;
  background-position: center;
}
.artist-card--bg01 {
  background-image: url(../images/artista-1.jpg);
}
.artist-card--bg02 {
  background-image: url(../images/artista-2.avif);
}
.artist-card--bg03 {
  background-image: url(../images/artista-3.avif);
}

@keyframes to-grayscale {
  0% {
    filter: grayscale(0%);
  }
  100% {
    filter: grayscale(100%);
  }
}
@keyframes from-grayscale {
  0% {
    filter: grayscale(100%);
  }
  100% {
    filter: grayscale(0%);
  }
}
.gallery-grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
  overflow: hidden;
  justify-items: stretch;
}
.gallery-grid img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  animation: from-grayscale 0.4s forwards;
}
.gallery-grid img:hover {
  animation: to-grayscale 0.4s forwards;
}

.gallery-01 .gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
  overflow: hidden;
  justify-items: stretch;
}
@media (min-width: 576px) {
  .gallery-01 .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .gallery-01 .gallery-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.gallery-01 .gallery-grid img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-width: 50px;
}
.gallery-01 img {
  grid-column: span 1;
}
@media (min-width: 768px) {
  .gallery-01 img:nth-child(1) {
    grid-column: span 3;
    grid-row: span 2;
  }
  .gallery-01 img:nth-child(4), .gallery-01 img:nth-child(3) {
    grid-column: span 2;
  }
  .gallery-01 img:nth-child(2), .gallery-01 img:nth-child(5) {
    grid-column: span 1;
  }
}
.gallery-02 {
  background: #000000;
  color: #ffffff;
}
.gallery-02 .gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
  overflow: hidden;
  justify-items: stretch;
}
@media (min-width: 576px) {
  .gallery-02 .gallery-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
@media (min-width: 768px) {
  .gallery-02 .gallery-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.gallery-02 .gallery-grid img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-width: 50px;
}
.gallery-02 img:nth-child(1) {
  grid-column: span 3;
  grid-row: span 1;
}
.gallery-02 img:nth-child(4), .gallery-02 img:nth-child(3) {
  grid-column: span 2;
}
.gallery-02 img:nth-child(2) {
  grid-column: span 3;
}
.gallery-02 img:nth-child(5) {
  grid-column: span 2;
}
.gallery-03 {
  background: #ffffff;
  color: #000000;
}
.gallery-03 .gallery-grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-auto-rows: 250px;
  gap: 10px;
  overflow: hidden;
  justify-items: stretch;
}
@media (min-width: 576px) {
  .gallery-03 .gallery-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (min-width: 768px) {
  .gallery-03 .gallery-grid {
    grid-template-columns: repeat(6, 1fr);
  }
}
.gallery-03 .gallery-grid img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  width: 100%;
  min-width: 50px;
}
.gallery-03 img {
  min-width: 50px;
}
.gallery-03 img:nth-child(1) {
  grid-column: span 3;
  grid-row: span 1;
}
.gallery-03 img:nth-child(4), .gallery-03 img:nth-child(3) {
  grid-column: span 3;
}
.gallery-03 img:nth-child(3) {
  grid-row: span 2;
}
.gallery-03 img:nth-child(2) {
  grid-column: span 3;
}
@media (min-width: 576px) {
  .gallery-03 img:nth-child(1) {
    grid-column: span 1;
    grid-row: span 1;
  }
  .gallery-03 img:nth-child(2) {
    grid-column: span 2;
  }
}

.aboutus-banner {
  background: url(https://www.paxinasgalegas.es/imagenes/etham-clay_img693243t0m0w1600h800.jpg);
  height: 400px;
  background-size: cover;
  background-position: center;
  color: #ffffff;
  display: flex;
  align-items: center;
  background-color: #000000;
  background-blend-mode: lighten;
}
.aboutus-banner__title {
  background-color: #000000;
  padding: 1rem;
}

.aboutus iframe {
  width: 100%;
}

.contact-banner {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #000000;
  color: #ffffff;
}
.contact-banner .rrss {
  display: flex;
  gap: 1rem;
}
.contact-banner .rrss a {
  text-decoration: none;
  color: #ffffff;
}

.form textarea.form-control {
  min-height: 300px;
  height: auto;
}
.form__btn {
  background-color: #000000;
  color: #ffffff;
  padding: 0.5rem 1.5rem;
  text-decoration: auto;
  width: min-content;
  font-weight: 600;
  margin-top: 1rem;
}
.form__btn:hover {
  background-color: #6d6d6d;
}

/*# sourceMappingURL=style.css.map */
