@use "../vars/variables" as *;
footer {
  background-image: url(../../images/footer.jpg);
  background-size: cover;
  background-color: $color-negro-transparente;
  background-blend-mode: overlay; 
  background-attachment: fixed;
  padding: 1rem;
  color: $color-gris;
}